@model IEnumerable<FPT_Book_Khôi_Phi.Models.Product>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-6">
        <h1>Product Table</h1>
        @*<partial name="_StatusMessage" model="@ViewData["Message"]" />*@
    </div>
    <div class="col-6">
        <a asp-controller="Products" asp-action="UpSert" class="btn btn-success">Create New Product</a>
        <a asp-controller="Products" asp-action="ImportFromExcel" class="btn btn-success">Import New Product by Excel</a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Author</th>
        <th scope="col">NoPage</th>
        <th scope="col">ImageUrl</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in @Model)
    {
        <tr>
            <th scope="row">@obj.Id</th>
            <td>@obj.Title</td>
            <td>@obj.Description</td>
            <td>@obj.Author</td>
            <td>@obj.NoPage</td>
            <td>@obj.ImageUrl</td>
            <td>@obj.Price</td>
            <td>
                <a asp-controller="Products" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-warning">Update</a>
                <a asp-controller="Products" onclick="confirm('Do you want to delete')" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>